@charset "ISO-8859-1";

body{
	margin: 0;
	padding: 0;
	background: linear-gradient(120deg, #2980b9, white);
	height: 50rem;
	overflow: hidden;	
	font-family: Arial, sans-serif;
}
h1 {
	position: absolute;
	left: 10px;
	color: white;
	font-size: 65px;
}

h2 {
	position: relative;
	left: 10px;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
	background: antiquewhite;
	border-radius: 5px;
	background-color:#f8f8f8;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	border-style: solid;
	border-width: 3px;
	border-color: grey;
}

.username_field, .password_field, .login_type, .errorMessage, .submit, .signup {
	position: relative;
	left: 10px;
	bottom: 15px;
	margin-bottom: 3px;
}

.signup a {
	position: relative;
	left: 40px;
	color: #007bff;
	text-decoration: none;
}

.errorMessage {
	color: red;
}

input[type="submit"] {
	position: relative;
	left: 50px;
  	width: 75%;
   	padding: 10px;
   	background-color: #007bff;
   	color: #fff;
   	font-weight: bold;
   	border: none;
   	border-radius: 3px;
 	cursor: pointer;
}

input[type="password"]  {
	position: relative;
	left: 5px;
}
