@charset "ISO-8859-1";

body {
	background-color: antiquewhite;
	margin-left: 0;
  	margin-right: 0;
	
}

h2 {
	margin-left: 10px;
}

table{
	border-spacing: 3px;
	margin-left: auto;
	margin-right: auto;
}

td, th {
	padding: 1px 3px; 
}

.center {
	background-color:#f8f8f8;
	border: solid black 1px;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

.go_back_button {
	margin-left: 10px;
	margin-bottom: 10px;
}





