@charset "ISO-8859-1";

body {
	background-color: antiquewhite;
}

form {
	display: inline;
	
}

h1 {
	font-size: 30px;
	position: relative;
	left: 50px;
}

button {
	background-color: #007bff; 
	color: #fff;
	border: solid black 1px;
	padding: 10px 20px;
	margin: 10px 10px; 
	font-size: 16px;
	cursor: pointer;
	display: inline-block;
	font-family: Arial, sans-serif;
   	border-radius: 3px;
}

.container {
	margin-left: auto;
    margin-right: auto;
	background-color:#f8f8f8;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 80%;
}

.forms {
	text-align: center;
}